html {
    min-height:100%;
    position:relative;
}

body {
    height:100%;
}

.container {
    display: flex;
    background-image: url(../../assets/images/email-ty-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

    z-index: 1;
    font-weight: bold;
    height: 100%;
    padding-top: 40px;
}


.editorial {
    width: 25%;
    min-width: 300px;
    height: fit-content;
    margin: 5% 0 0 5%;
    padding: 25px 10px;
    text-align: center;
    background-color: #fffd;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px 1px #aaa;
}

.text-editorial {
    width: 100%;
}

button {
	line-height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #999;

	font-family: luois-sans;
    font-size: 1em;
    letter-spacing: 1px;
}
button span {
	margin: auto 0;
	white-space: nowrap;
}

button:hover {
	background-color: #666;
    cursor: pointer;
}
button:hover span {
	font-weight: bold;
	color: #eee;
	transition: 1s;
}
