<div class="container">
    <div class="editorial">
        <div class="text-editorial">
            <h1>Congratulations!</h1>
            <p>Your account is now active</p>
            <div class="space-25">&nbsp;</div>
            <p>Welcome in our travel site!</p>
            <p>We hope that will be good and happy for you.</p>
            <div class="space-25">&nbsp;</div>
            <p>Let's start from the homepage, click here:</p>
            <button (click)="toHome()"><span>Go to homepage</span></button>
        </div>
    </div>

</div>
